CVMFS_REPOSITORIES="{% for item in cvmfs_repositories %}{{ item }},{% endfor %}"
CVMFS_STRICT_MOUNT="yes"
{# The standard recommendation is to use 85% of the filesystem, but there is also
 # some overhead for the filesystem itself (inode tables, reserved blocks, etc.),
 # so use 82% of the size of the underlying LV. #}
CVMFS_QUOTA_LIMIT="{{ (cvmfs_cache_size|float * 0.82)|round(0, 'floor')|int }}"
CVMFS_HTTP_PROXY="{{ cvmfs_http_proxy }}"
# generally we do not want oomkiller to hit the CVMFS client
CVMFS_OOM_SCORE_ADJ="-10"
{% for key, value in cvmfs_client_conf.items() %}
{{ key }}="{{ value }}"
{% endfor %}
